body {
  margin: 0; 
  padding: 0;
  color: #fefefe;
  background: #000;
  overflow-x: hidden;
}

canvas {
  height: 100vw;
}

body > a:first-child  {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 2rem;
  color: inherit;
  font: 2.2rem 'Space Grotesk', monospace;
  text-decoration: none;
  border-bottom: 3px solid #fefefe;
}
body > a span:first-child {
  font-size: 0.8rem;
}

body > span {
  display: flex;
  flex-direction: column;
  text-align: center;
  font: bold 0.5rem 'Space Grotesk', monospace;
  gap: 0.5rem 0;
}

body > span a {
  color:#00B8A0;
}

@media only screen and (min-width: 812px) {
  canvas {
    height: 50vw;
  }
  
  body > a:first-child {
    position: absolute;
    top: 16rem;
    right: 40%;
    transform: translateX(50%);
    font-size: 3.6rem;
    text-decoration: none;
    border-bottom: none;
  }
  body > a span:last-child:hover {
    text-decoration: underline;
    color: antiquewhite;
    background: #000;
  }
  body > span {
    position: absolute;
    top: 26rem;
    right: 40%;
    transform: translateX(50%);
    gap: 0.8rem 0;
    font-size: 0.8rem;
  }
  
  body > span a:hover {
    color: red;
  }
}