body {
  margin: 0; 
  padding: 0;

  background: antiquewhite;

  overflow-x: hidden;
}

canvas {
  height: 100vw;
}

body > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 2rem;

  color: inherit;
  font: 3rem monospace;

  text-decoration: none;
  border-bottom: 3px solid #000
}
body > a span:first-child {
  font-size: 0.8rem;
}

body > span {
  display: flex;
  flex-direction: column;
  text-align: center;

  color:purple;

  font: bold 0.8rem monospace;
}

/* body > span a:first-child {
}

body > span a:last-child {
} */

@media only screen and (min-width: 812px) {
  canvas {
    height: 50vw;
  }
  
  body > a {
    position: absolute;
    top: 13rem;
    right: 40%;
    transform: translateX(50%);

    text-decoration: none;
    border-bottom: none;
  }
  body > a span:last-child:hover {
    text-decoration: underline;
    color: antiquewhite;
    background: #000;
  }
  body > span {
    position: absolute;
    top: 23rem;
    right: 40%;
    transform: translateX(50%);
    gap: 0.8rem 0;

    font-size: 0.8rem;
  }
  
  body > span a:hover {
    color: red;
  }
}